/* .body{
  background-color: black;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }
  
  .movie-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .movie-title {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
  } */
  .like-body{
    background-color: black;
  }
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }
  
  .movie-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .movie-title {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .delete-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .fav
  {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .delete-button:hover {
    background-color: darkred;
  }