.App2 {
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.6) 100%),url('C:\Users\LENOVO\Documents\Netflix\netflix\src\Sanmi\Images\background_netflix.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }