.getstarted{
    margin: 0;
    padding: 100px 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.8) 100%),url('../Assets/Netflix-Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
.container{
    font-size: 20px;
    padding: 0 150px;
    font-weight: 600;
}
@media(max-width:1250px){
    .container{
        padding: 0 20px;
        font-size: 16px;
    }
}
.ig{
    padding-top:80px;
    padding-bottom: 80px;
}
.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 130px;
}

.inside1 input{
    background: none;
    color: rgb(141, 137, 137);
    padding-left: 15px;
    padding-right: 110px;
    padding-top: 4px;
    height: 54px;
    margin-right: 10px;
    border: solid 1px rgb(167, 164, 164);
    font-size: 18px;
    border-radius: 5px;
    
}
.inside1 button{
    background-color: rgb(224, 46, 46);
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 30px;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}
.inside1 button:hover{
    background-color: rgb(188, 39, 39);
}
