.navbar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar1 img{
    width: 150px;
}
.navlist label{
    padding:0 10px;
}
.navlist select{
    background: none;
    color: white;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
}
.navlist option{
    color: black;
}

.btn{
    background-color: rgb(224, 46, 46);
    outline: none;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(188, 39, 39);
}

@media(max-width:1000px){
    .navbar1 img{
        width: 120px;
    }
    
    .btn{
        width: 60px;
        height: 29px;
    }
    .navbarlist select{
        width: 100px;
        height: 30px;
    }
}